main.container {
  padding: 2em 2em;
}

.counter {
  float: right;
  color: #00a087;
}

section.new-tweet {
  background-color: #ededed;
  border: solid 1px #cecece;
  border-radius: 10px;
  padding: 0 10px;
}

section h2 {
  color: #234551;
  border-bottom: 1px solid #cecece;
}

section form input {
  margin-bottom: 10px;
  padding: 2px 2px;
}

section textarea {
  padding: 5px 5px;
  width: 100%;
}

